body {
  box-sizing: border-box;
  --default-transition: all 0.2s ease-in;
}

.App {
  padding: 0;
  margin: 1rem;
  font-family: 'Quicksand', 'Alegreya Sans', sans-serif;
}

.thumbnails-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  flex-wrap: wrap;
}

.thumbnail {
  width: calc(100%/3 - 6px);
  border: 3px solid #fff;
  flex: 1 1 auto;
  height: 30%;
  background-color: #ccc;
  cursor: pointer;
  transition: var(--default-transition);
}

.thumbnail:hover {
  opacity: 0.6;
}

.detail-bg {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.detail-close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.detail-close:hover {
  opacity: 0.6;
  transition: var(--default-transition)
}

.detail-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
